*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.xdv
*.py
.ipynb_checkpoints/
Bracone-v0-marked.pdf
em.ipynb
euh-emm/Cargo.lock
euh-emm/target/
jl-bmg/
presentation/emgs_n100_d50.png
presentation/huge_n100_d50.png
presentation/presentation.nav
presentation/presentation.out
presentation/presentation.snm
presentation/presentation.toc
r-bmg/.RData
r-bmg/.Rhistory
r-bmg/x.csv
summary/summary.bbl
summary/summary.bcf
summary/summary.blg
summary/summary.out
summary/summary.run.xml
summary/pictures/
summary-blx.bib
summary.tex.bbl
summary.tex.blg
